# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Naoki\Documents\GitHub\Java-Web-Development-SpringBoot\Data-Stores-Persistence\Solutions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
